<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <style>
    body {
      min-height: 100vh;
      background: linear-gradient(135deg, #002349, #09434f);
      /* blue-green gradient */
      color: #fff;
    }
  
    a {
      color: #fff;
    }
  
    .card {
      background-color: rgba(255, 255, 255, 0.95);
      color: #000;
      border-radius: 1rem;
    }
  
    .jumbotron {
      background: transparent;
      color: #fff;
    }
  
    .centered {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 90vh;
    }
.submit-body {
  background: #000;
  color: #fff;
}

.form-control:focus {
  box-shadow: none !important;
  outline: none !important;
}

    .btn-dark,
    .btn-primary,
    .btn-success,
    .btn-danger,
    .btn-light {
      border-radius: 0.5rem;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent px-4">
    <a class="navbar-brand" href="/secrets">Secrets</a>
  </nav>