<%- include('partials/header') %>

<div class="jumbotron text-center centered">
  <div class="container">
    <i class="fas fa-key fa-5x mb-4"></i>
    <h1 class="display-4">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr class="bg-white">
    <a class="btn btn-light btn-lg" href="/register">Register</a>
    <a class="btn btn-dark btn-lg" href="/login">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
