<%- include('partials/header') %>

<div class="jumbotron text-center centered">
  <div class="container">
    <i class="fas fa-key fa-5x mb-3"></i>
    <div class="container mt-5">
    <h1>Anonymous Secrets</h1>

    <ul class="list-group mt-4">
  <% if (secrets.length === 0) { %>
    <li class="list-group-item">No secrets submitted yet.</li>
  <% } else { %>
    <% secrets.forEach(secret => { %>
      <li class="list-group-item text-dark"><%= secret %></li>
    <% }) %>
  <% } %>
</ul>

    </div>
    <hr class="bg-white">
    <a class="btn btn-light btn-lg" href="/logout">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
